.ng-login {
  margin: auto;
  margin-top: 160px;
  padding-top: 24px;
  padding-bottom: 36px;
  width: 240px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  //TODO: move the colors to color file.
  background: #ffffff;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  .logo {
    background-image: url("../../asset/meraki.png");
    width: 68px;
    height: 68px;
    background-size: contain;
    margin-bottom: 24px;
  }

  .google-login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
