.ng-page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-align {
  align-items: right;
}

.left-align {
  align-items: left;
}

.center-align {
  align-items: center;
}

.idsEllipsis {
  display: inline-block;
  position: relative;
  width: 70px;
}

.idsEllipsis div {
  position: absolute;
  top: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #48a145;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.idsEllipsis div:nth-child(1) {
  left: 8px;
  animation: idsEllipsis1 0.6s infinite;
}
.idsEllipsis div:nth-child(2) {
  left: 8px;
  animation: idsEllipsis2 0.6s infinite;
}
.idsEllipsis div:nth-child(3) {
  left: 32px;
  animation: idsEllipsis2 0.6s infinite;
}
.idsEllipsis div:nth-child(4) {
  left: 56px;
  animation: idsEllipsis3 0.6s infinite;
}
@keyframes idsEllipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes idsEllipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes idsEllipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
