.ng-course-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;

  >.content {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 200px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  >.content >.markdown {
    width: 80%;
    padding: 24px;
    padding-top: 24px;
    font-family: Ubuntu;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    margin-bottom: 32px;
  }

  >.content >.github-link {
    color: gray;
    text-decoration: none;
    width: 80%;
    text-align: right;
  }

  >.content >.arrow-row {
    padding: 32px 32px;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}
