*:focus-visible {
  outline: none;
}
.admission {
  display: flex;
  height: 100%;
  width: 100%;
}
.left-section {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video {
  width: 650px;
  margin-block: 50px;
  border-radius: 8px;
  margin-left: 30px;
}

.video-label {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
.right-section {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.test-form {
  width: 95%;
  // max-width: 700px;
}
.input-form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.test-form .form-row {
  display: flex;
  // justify-content: space-between;
}
.input {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  color: #818181;
}
.input span {
  font-size: 15px;
}
.input input {
  font-size: 16px;
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #818181;
  max-width: 250px;
  margin-right: 40px;
  background-color: transparent;
}

button {
  background-color: #48a145;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  align-self: center;
}
.down {
  margin-top: 80px;
  margin-bottom: 30px;
}

.result-btn {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1200px) {
  .video {
    width: 500px;
  }
  .test-form {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .admission {
    flex-direction: column;
  }
  .right,
  .left {
    flex: 1;
  }
  .left {
    flex-direction: column-reverse;
  }
  .video-label {
    margin-top: 30px;
  }
  .test-form {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  h2 {
    align-self: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
  }
  button {
    padding: 15px 100px;
  }
}
@media screen and (max-width: 750px) {
  .test-form {
    width: 80%;
  }
}
@media screen and (max-width: 620px) {
  .test-form {
    width: 95%;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 530px) {
  .test-form .form-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .video {
    width: 400px;
    margin-left: 0;
  }
  .input {
    width: 100%;
  }
  .test-form {
    width: 80%;
  }
  .input input {
    max-width: 400px;
    margin-right: 0;
  }
  button {
    padding: 15px 50px;
  }
}
@media screen and (max-width: 430px) {
  .video {
    width: 300px;
  }
  .test-form {
    width: 90%;
  }
  h2 {
    font-size: 1.3rem;
  }
  button {
    padding: 10px 50px;
    font-size: 15px;
  }
  .video-label {
    font-size: 1.3rem;
  }
  .right {
    padding-top: 20px;
  }
  .input input {
    font-size: 16px;
  }
}
@media screen and (max-width: 300px) {
  .video {
    width: 250px;
  }
}
