@import "../../sass/colors.scss";
@import "../../sass/mixins.scss";

.ng-create-class {
  margin: auto;
  padding-top: 24px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint-mobile {
    width: 100%;
  }

  //TODO: move the colors to color file.
  background: #ffffff;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    @include breakpoint-mobile {
      margin-left: 80px;
    }
  }

  .form {
    // font-weight: normal;
    padding: 48px;
    display: flex;
    flex-direction: column;
    @include breakpoint-mobile {
      width: 90%;
    }
  }

  .form .small-text {
    width: 156px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0px 8px;
  }

  .form .submit {
    width: 235px;
    height: 48px;
    margin: auto;
    background: #3cb728;
    border-radius: 19px;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    border-width: 0px;
    margin-top: 24px;
    text-decoration: none;
    transition: all 0.2s;
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
  }

  .cursor {
    margin-left: 200px;
    cursor: not-allowed;
  }

  .submit:hover {
    cursor: pointer;
    background-color: rgb(10, 122, 25);
  }

  .submit:active {
    cursor: pointer;
    background-color: rgb(10, 122, 25);
  }
}

.radio-field {
  margin: 30px 12px 30px 12px;
}

.label-field {
  color: #bbbbbb;
  font-weight: normal;
}

.checkbox-field {
  margin: 12px;
}

.input-field {
  width: 628px;
  height: 48px;
  padding-left: 8px;
  margin: 8px 0 24px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid rgb(192, 195, 196);

  @include breakpoint-mobile {
    width: 350px;
  }

  &--short {
    width: 180px;
  }

  background: #ffffff;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
    border: 1px solid #3cb728;
    box-shadow: 0 0 4px #3cb728;
  }
}

.textarea-field {
  width: 628px;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 16px;
  margin: 8px 0 24px 0;
  resize: none;
  border: none;
  border-bottom: 2px solid rgb(192, 195, 196);

  @include breakpoint-mobile {
    width: 340px;
  }

  //TODO: move the color in the root colors.scss file.
  background: #ffffff;

  &:focus {
    outline: none !important;
    border: 1px solid #3cb728;
    box-shadow: 0 0 4px #3cb728;
  }
}

.create-class-select {
  padding: 12px 8px;
  font-size: 16px;
  background: #ffffff;
  margin: 8px 0 24px 0;
  border-radius: 8px;
}

.optional-field {
  font-weight: normal;
  color: grey;
  font-size: 14px;
  margin-left: 4px;
}

.description-for-enrollments {
  font-weight: normal;
  font-size: 15px;
  color: grey;
  margin-top: 10px;
  font-family: Rubik, sans-serif;
  font-style: normal;
}
