@import "../../sass/colors.scss";
@import "../../sass/mixins.scss";

.ng-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f8fa;

  h2 {
    margin-bottom: 32px;
  }
}

.search {
  width: 40%;
  position: relative;
  display: flex;
  margin: auto;
  @include breakpoint-mobile {
    width: 95%;
    margin: 0 auto;
  }
}

.search-term {
  width: 100%;
  border: 3px solid #d55f31;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 8px 0 0 8px;
  font-size: 20px;
  outline: none;
  padding-left: 15px;
  @include breakpoint-mobile {
    font-size: 17px;
  }
}

.searchTerm:focus {
  color: black;
  font-size: 18px;
}

.search-button {
  width: 70px;
  font-size: 25px;
  height: 56px;
  border: 1px solid #d55f31;
  background: #d55f31;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
