@import '../../../sass/colors.scss';
@import '../../../sass/mixins';

.ng-course-list {
  width: 80%;
  margin-bottom: 36px;

  >.cards {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include breakpoint-mobile {
      justify-content: center;
      align-items: center;
    }
  }
}
