.student-overview-table {
  // width: 850px;
  border-collapse: collapse;
  margin: 40px auto;

  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #83b344;
  color: white;
  font-size: 20px;
}

.T-data {
  border: none;
  text-decoration: none;
  color: #000;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  font-family: Rubik;
  font-style: normal;
  font-size: 20px;
}

tr:hover {
  background-color: #dddddd;
  cursor: pointer;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .student-overview-table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  .student-overview-table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
}
