@import "../../sass/mixins.scss";

.privacy-policy-container {
  width: 80%;
  margin: auto;
  font-family: Rubik;
  font-style: normal;

  > .policy-section {
    margin: auto;
    width: 80%;
  }
}

.privacy-details {
  font-style: normal;
  font-weight: 300;
  font-family: Rubik;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
}

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

.heading {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.privacy-google-link a {
  text-decoration: none;
  color: #000000;
}
