.profile-container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.profile {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lusitana;
  font-style: normal;
}

.user-email {
  font-size: 20px;
}

.profile-img {
  background-color: rebeccapurple;
  height: 130px;

  border-radius: 50%;
  margin-top: 10px;
}

.profile-details {
  margin-left: 15px;
}

.profile-loader {
  border: 6px solid #f3f3f3;
  border-radius: 80%;
  // border-top: 6px solid rgb(75, 77, 75);
  border-top: 6px solid #48a145;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.email-input {
  border: 0;
  font-size: 17px;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #2e2e2e;
  height: 5px;
  padding: 12px 20px 12px 10px;
}

.edit-Profile {
  border: none;
  color: #48a145;
  font-size: 18px;
  background: none;
  cursor: pointer;
}
