
.ng-input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  label {
    margin-bottom: 8px;
  }

  .textarea-field {
    width: 628px;
    height: 96px;
    padding-left: 8px;
    padding-top: 8px;

    //TODO: move the color in the root colors.scss file.
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;

    &:focus {
      outline: none !important;
      border: 1px solid #3CB728;
      box-shadow: 0 0 4px #3CB728;
    }
  }

  .input-field {
    width: 628px;
    height: 48px;
    padding-left: 8px;

    //TODO: move the color in the root colors.scss file.
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    
    &:focus {
      outline: none !important;
      border: 1px solid #3CB728;
      box-shadow: 0 0 4px #3CB728;
    }
  }

}
