.floating-icon-container {
  position: absolute;
  border-radius: 50%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background-color: white;
  border: 0;
}
