@import "../../../sass/colors.scss";
@import "../../../sass/mixins.scss";

.create-class-button {
  background: #48a145;
  margin-left: 4%;
  width: 15%;
  height: 40px;
  border-radius: 15px;
  color: white;
  font-size: 17px;
  font-weight: "bold";
  border: none;
  cursor: pointer;
  margin-top: 30px;
  @include breakpoint-mobile {
    width: 60%;
    margin-left: 15%;
  }
}
.ng-upcoming-class {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include breakpoint-mobile {
    justify-content: center;
    margin: 20px 0px;
  }
}
