.login-container {
  padding: 0 10%;
  margin: 40px auto 0;
}
.login-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin: auto;
  margin-top: 160px;
  padding-top: 24px;
  padding-bottom: 36px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
