.volunteer-container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.volunteer-search-bar {
  border: 0;
  font-size: 16px;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #2e2e2e;
  height: 5px;
  margin-top: 13px;
  width: 1200px;
  background-image: url("../../../asset/search.svg");
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.volunteer-overview-table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  table-layout: fixed;
  // border: none;
  border-collapse: collapse;
  // border: 1px solid white;
  // box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.volunteer-overview-table tbody {
  border-bottom: 2px solid #e6e3e3;
}

.volunteer-overview-table td,
th {
  padding: 19px;
  //   border: 1px solid #2e2e2e;
  border: none;
  font-family: Rubik;
  font-style: normal;
  //   background-color: seagreen;
  font-size: 16px;
}

.volunteer-overview-table thead tr th {
  // box-shadow: 1px, 1px rgba(112, 111, 111, 0.16);
  letter-spacing: 0.35;
  line-height: 20px;
  color: #2e2e2e;
  // opacity: 1;
  padding: 12px;
  // background-color: salmon;
  font-size: 16px;
  font-style: normal;
  // font-family: Nunito Sans;
  text-align: start;
  vertical-align: top;
  // border: 1px solid #eb0f0f;
  border-bottom: 2px solid #e6e3e3;
  // border: none;
}

.volunteer-overview-table tr:hover {
  background-color: #e9f5e9;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px;
}

.filter-button {
  padding: 10px 30px;
  font-size: 15px;
  border: none;
  color: #818181;
  margin: 5px;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  font-weight: 600;
}

.filter-button:hover {
  background: #48a145;
  color: seashell;
}

.filter-items {
  margin-top: 40px;
}

// **********pagination*************

.paginationBttns-volunteer {
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns-volunteer a {
  padding: 10px;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid #48a145;
  color: #48a145;
  cursor: pointer;
}

.paginationActive-volunteer a {
  color: white;
  background-color: #48a145;
}

.pagination-footer {
  display: flex;
}

.pagination {
  padding-left: 380px;
}

.page-descrption {
  color: #818181;
  line-height: 20px;
  font-size: 16px;
  padding-left: 15px;
}

@media screen and (max-width: 768px) {
  .volunteer-search-bar {
    width: 270px;
  }
  .volunteer-overview-table {
    width: 100%;
  }
  .volunteer-overview-table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  .volunteer-overview-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .volunteer-overview-table tr {
    border: 1px solid #ccc;
  }

  .volunteer-overview-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .volunteer-overview-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */

    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: 500;
  }

  .pagination-footer {
    display: block;
    // padding-left: 80px;
  }

  .pagination {
    padding-left: 0;
  }
}

.sort-volunteer {
  background: transparent;
  border: none;
}

.selectedPathway {
  background-color: #48a145;
  color: white;
}
.filterBar {
  display: flex;
  margin-top: 30px;
}
.filterBar .filter {
  display: flex;
  flex-direction: column;
  width: 23em;
  margin-right: 20px;
  position: relative;
  // display: none;
}
.filterBar .filter span {
  color: #818181;
  font-size: 16px;
}
.filterBar .filter button {
  margin-top: 20px;
  background-color: transparent;
  text-align: left;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  padding-top: 0;
  background-image: url("../../../asset/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 96% 40%;
  background-size: 14px;
  cursor: pointer;
}
.filterBar .filter .dropdown {
  width: 100%;
  top: 120%;
  left: 0;
  background: #ffffff;

  box-shadow: 0px 16px 24px rgba(46, 46, 46, 0.06),
    0px 6px 30px rgba(46, 46, 46, 0.04), 0px 8px 10px rgba(46, 46, 46, 0.08);
  border-radius: 8px;
  // height: 100%;
  // padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: height 0.3s ease-in;
}

.filter .dropdown ul {
  align-self: flex-start;
  list-style: none;
  margin: 5px 20px;
  padding: 0;
  width: 80% !important;
}
.dropdown ul li {
  font-size: 18px;
  margin-block: 15px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  transition: all ease-in 1s;
}
.dropdown ul li::after {
  content: "";
  height: 25px;
  width: 25px;
  background-image: url("../../../asset/tick.svg");
  background-repeat: no-repeat;
  background-position: 96% 40%;
  background-size: 20px;
  position: absolute;
  right: -10%;
  opacity: 0;
  transition: all ease-in 0.15s;
}
.dropdown ul li.checked::after {
  opacity: 1;
}
.dropdown ul li:hover::after {
  opacity: 1;
}
.filter .dropdown span {
  background: #48a145;
  border-radius: 8px;
  color: white;
  padding: 5px 20px;
  margin: 15px;
  padding-bottom: 8px;
  margin-top: 0;
  cursor: pointer;
}
.dropdown ul li img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
