.github-btn {
  background-color: #83b344;
  height: 48px;
  width: 200px;
  border-radius: 19px;
  border: none;
}

.github-study-pack {
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  color: white;
}

.github-icon {
  font-size: 22px;
  color: white;
  margin-left: 5px;
}
