@import '../../../sass/colors.scss';
@import '../../../sass/mixins';

.ng-course-card {
  width: 300px;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 16px;
  margin-left: 16px;
  overflow: hidden;
  @include breakpoint-mobile {
    margin-left: 0px;
  }

  >.logo {
    width: 34px;
    height: 34px;
    padding-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;
  }

  >.title {
    width: 70%;
    margin-left: 8px;
  }
}
