@import "../../sass/colors.scss";
@import "../../sass/mixins.scss";

.ng-header {
  width: 100%;
  height: 80px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  @include breakpoint-mobile {
    margin-top: 24px;
  }

  .logo {
    background-image: url("../../asset/meraki.png");
    width: 58px;
    height: 70px;
    background-size: contain;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    // margin-left: 32px;
    margin-left: 200px;
    @include breakpoint-mobile {
      margin-left: 16px;
    }
  }

  .option {
    margin-top: 8px;
    padding-right: 32px;
    display: flex;
    justify-content: flex-end;
    @include breakpoint-mobile {
      padding-right: 16px;
    }
  }

  .link {
    height: 42px;
    margin-right: 16px;
    color: #83b344;
    border-radius: 16px;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }

  .logout {
    width: 108px;
    height: 42px;
    background-color: #d55f31;
    color: #ffffff;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .login {
    width: 148px;
    height: 42px;
    background-color: #83b344;
    color: #ffffff;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #bcf186 0%, rgba(129, 245, 7, 0) 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  font-family: "Times New Roman", Times, serif;

  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #708087;
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

// .openbtn {
//   position: absolute;
//   right: 95%;
//   font-size: 20px;
//   cursor: pointer;
//   background-color: #111;
//   color: white;
//   padding: 10px 15px;
//   border: none;
// }

.icon {
  font-size: 30px;
  cursor: pointer;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//   .sidebar {padding-top: 15px;}
//   .sidebar a {font-size: 18px;}
// }
