@import "../../sass/colors.scss";
@import "../../sass/mixins.scss";

.ng-header {
  width: 100%;
  height: 80px;
  padding-top: 25px;
}

.logout {
  width: 108px;
  height: 42px;
  background-color: #d55f31;
  color: #ffffff;
  border-radius: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include breakpoint-mobile {
    position: absolute;
    left: 10px;
  }
}

.ng-header {
  display: inline;
}

.ng-header > .logo {
  display: inline-block;
  font-size: 22px;
  color: #83b344;
  padding: 10px 10px 10px 10px;
}

.meraki-logo {
  background-image: url("../../asset/meraki.png");
  width: 58px;
  height: 70px;
  background-size: contain;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  margin-left: 32px;
  @include breakpoint-mobile {
    margin-left: 12px;
  }
}

.ng-header > .dropDown-btn {
  display: none;
  padding-top: 35px;
}

.ng-header > .option {
  display: inline;
  float: right;
  font-size: 18px;
}

.ng-header > .option > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #83b344;
}

.ng-header > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .ng-header > .dropDown-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .ng-header > .dropDown-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .ng-header > .dropDown-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #83b344;
  }
  .ng-header > .option {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #e4f8ca;
    height: 0px;
    z-index: 999;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 89px;
    left: 0px;
  }
  .ng-header > .option > a {
    display: block;
    width: 100%;
    margin-left: 18px;
  }
  .ng-header > #nav-check:not(:checked) ~ .option {
    height: 0px;
  }
  .ng-header > #nav-check:checked ~ .option {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
