@import "../../sass/colors.scss";
@import "../../sass/mixins.scss";

.ng-header {
  width: 100%;
  height: 80px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  @include breakpoint-mobile {
    padding-top: 24px;
  }

  .logo {
    background-image: url("../../asset/meraki.png");
    width: 58px;
    height: 70px;
    background-size: contain;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    margin-left: 32px;
    @include breakpoint-mobile {
      margin-left: 16px;
    }
  }

  .option {
    margin-top: 8px;
    padding-right: 32px;
    display: flex;
    justify-content: flex-end;
    @include breakpoint-mobile {
      padding-right: 16px;
    }
  }

  .link {
    height: 42px;
    margin-right: 16px;
    color: #83b344;
    border-radius: 16px;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }

  .logout {
    width: 108px;
    height: 42px;
    background-color: #d55f31;
    color: #ffffff;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .login {
    width: 148px;
    height: 42px;
    background-color: #83b344;
    color: #ffffff;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }
}
