@import "../../sass/colors.scss";
@import "../../sass/mixins.scss";

.ng-header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.logout {
  width: 108px;
  height: 42px;
  background-color: #d55f31;
  color: #ffffff;
  // text-decoration: none;
  border-radius: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 0;

  @include breakpoint-mobile {
    position: absolute;
    left: 10px;
    margin-top: 40px;
  }
}

.ng-header > .logo {
  display: inline-block;
  font-size: 22px;
  color: #83b344;
}

.meraki-logo {
  background-image: url("../../asset/meraki.png");
  width: 58px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  @include breakpoint-mobile {
    margin-left: 12px;
  }
}

.ng-header > .dropDown-btn {
  display: none;
  padding-top: 35px;
}

.ng-header > .option {
  font-size: 18px;
}

.ng-header > .option > a {
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #83b344;
}
.ng-header > .option > .item:hover {
  border-bottom: 3px solid rgba(72, 161, 69, 1);
  color: rgba(72, 161, 69, 1);
  @include breakpoint-mobile {
    width: auto;
  }
}

.active {
  background-color: red;
  color: #fff;
}

.active a {
  background-color: red;
  color: #fff;
}

.ng-header > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .ng-header > .dropDown-btn {
    display: inline-block;
    padding: 0;
  }
  .ng-header > .dropDown-btn > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }

  .ng-header > .dropDown-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #83b344;
  }
  .ng-header > .option {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #e4f8ca;
    height: 0px;
    z-index: 999;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 89px;
    left: 0px;
  }
  .ng-header > .option > a {
    display: block;
    width: 100%;
    margin-left: 18px;
  }
  .ng-header > #nav-check:not(:checked) ~ .option {
    height: 0px;
  }
  .ng-header > #nav-check:checked ~ .option {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
