.table-container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.table {
  width: 100%;
  // width: 70%;
  // margin: 40px auto 0;

  border-collapse: collapse;
  box-shadow: 0px 2px 10px 1px rgba(138, 135, 135, 0.3);
}

.table thead {
  // background-color: #ffffff;
}
.table thead tr th {
  box-shadow: 1px, 1px rgba(112, 111, 111, 0.16);
  font-size: 19;
  font-weight: 600;
  letter-spacing: 0.35;
  color: #2e2e2e;
  opacity: 1;

  padding: 12px;
  font-style: normal;
  font-family: Rubik;
  text-align: start;
  vertical-align: top;
  border: 1px solid #dee2e685;
}

tr:hover {
  background-color: #fbfff5;
  box-shadow: 0px 2px 10px 1px rgba(138, 135, 135, 0.3);
  border-radius: 5px;
}

.table tbody tr td {
  font-size: 19px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #2e2e2e;
  padding: 13px;
  font-family: Rubik;
  border: 1px solid #dee2e685;
}

.t-data {
  text-decoration: none;
  color: #2e2e2e;
}

.Search-box {
  border: 0;
  font-size: 16px;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #2e2e2e;
  height: 5px;
  // width: 20%;
  margin-top: 13px;
  width: 500px;
  background-image: url("../../../asset/search.svg");
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

@media (max-width: 768px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    // width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
  }

  .table tbody tr td {
    padding-left: 50%;
    position: relative;
  }

  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
  }

  .Search-box {
    width: 60%;
  }
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #83b344;
  color: #83b344;
  cursor: pointer;
  // border: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: #83b344;
}

.paginationActive a {
  color: white;
  background-color: #83b344;
}

.container-for-Search {
  display: flex;
  flex-wrap: wrap;
}

.last-item {
  margin-left: auto;
}

.meraki_link {
  text-decoration: none;
  color: green;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

.create {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  margin-top: 6px;
  background-color: #83b344;
  color: #ffffff;
  border-radius: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
