.table-container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.Search-box {
  border: 0;
  font-size: 16px;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #2e2e2e;
  height: 5px;
  margin-top: 13px;
  width: 500px;
  background-image: url("../../../asset/search.svg");
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  // margin: 40px auto;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.table thead tr th {
  box-shadow: 1px, 1px rgba(112, 111, 111, 0.16);
  letter-spacing: 0.35;
  color: #2e2e2e;
  opacity: 1;
  padding: 12px;
  font-size: 16px;
  font-style: normal;
  font-family: Rubik;
  text-align: start;
  vertical-align: top;
  border: 1px solid #dee2e685;
}

.t-data {
  text-decoration: none;
  color: #000;
  width: 20%;
}

td,
th {
  padding: 14px;
  border: 1px solid #dee2e685;
  font-family: Rubik;
  font-style: normal;
  font-size: 16px;
}

tr:hover {
  background-color: #fbfff5;
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #83b344;
  color: #83b344;
  cursor: pointer;
  // border: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: #83b344;
}

.paginationActive a {
  color: white;
  background-color: #83b344;
}

.container-for-Search {
  display: flex;
  flex-wrap: wrap;
}

.last-item {
  margin-left: auto;
}

.create {
  text-decoration: none;
  color: green;
  border-radius: 5px;
  border: 2px solid #83b344;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 40px 40px #83b344 inset;
  }
}

.meraki_link {
  text-decoration: none;
  color: green;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .table {
    width: 100%;
  }

  .Search-box {
    width: 270px;
  }

  .last-item {
    margin-right: 0;
  }

  .paginationBttns {
    padding: 13px;

    margin: 5px;
  }

  /* Force table to not be like tables anymore */
  .table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */

    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: 500;
  }
}
