.class-cards {
  width: 380px;
  background: linear-gradient(to bottom left, #83b344 20%, #ffc39e 100%);
  height: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-left: 32px;
}

.card-content {
  padding: 25px;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}

.card_title {
  color: #ffffff;

  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
}

.card-heading {
  display: flex;
  color: #191b26;
}

.title {
  flex: 1;
  font-weight: 600;
  font-size: 28px;
}

.class-type {
  margin-top: 8px;
  font-weight: 600;
}

.class-details {
  margin-top: 34px;
  font-size: 17px;
}
