@import "../../sass/mixins.scss";

.AFE-container {
  width: 80%;
  margin: auto;
  font-family: Rubik;
  font-style: normal;

  > .AFE-section {
    margin: auto;
    width: 80%;
  }
}

.AFE-details {
  font-style: normal;
  font-weight: 300;
  font-family: Rubik;
  font-style: normal;
  font-size: 18px;
  border-top: 50px;
  line-height: 26px;
}

.AFE-approaches-title {
  font-weight: 500;
  padding-top: 18px;
  padding-bottom: 5px;
}

.AFE-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

.heading {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.amazon_logo {
  padding-left: 140px;
  @include breakpoint-mobile {
    padding-left: 35px;
  }
}
