.add_student_form_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  overflow-y: auto;
  background-color: rgba(22, 37, 51, 0.75);
}

.close_add_student_form {
  position: absolute;
  top: 6px;
  // right: -100px;
  left: 95%;
  font-size: 25px;
  cursor: pointer;
}

.add_student_form {
  position: relative;
  z-index: 110;
  background-color: #fff;
  border: 1px solid #f6f9fb;
  border-radius: 8px;
  margin: 100px auto;
  margin-bottom: 150px;
  padding: 30px;
  box-shadow: 0px 0px 15px -5px rgb(88, 87, 87);
  max-width: 600px;
}

@media (max-width: 768px) {
  .add_student_form {
    width: 80%;
    margin: 100px auto;
  }
}

.student_form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
}

.student_form_container h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
  align-self: center;
}

.student_form_container label {
  align-self: flex-start;
}

.student_data_field {
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  width: 100%;
}

.add_student_form_btn {
  background: green;
  border-radius: 20px;
  color: white;
  font-size: 0px;
  font-weight: "bold";
  border: none;
  cursor: pointer;
  padding: 15px 25px;
  font-size: 15px;
  margin: 10px 0;
  margin-left: auto;
  margin-top: 40px;
  border-radius: 15px;
}

.add_student_btn {
  background: green;
  border-radius: 25px;
  color: white;
  font-size: 17px;
  font-weight: "bold";
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.left {
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  margin-right: auto;
}

.Edit {
  font-family: Josefin Sans;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  margin-right: auto;
}

.update_student_form_btn,
.add_student_form_btn {
  width: 50%;
  height: 50px;
  background-color: green;
  color: white;
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}
