.add_student_form_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  overflow-y: auto;
  background-color: rgba(22, 37, 51, 0.75);
  //   display: none;
}
.close_add_student_form {
  position: absolute;
  top: 6px;
  right: -47px;
  font-size: 25px;
  cursor: pointer;
}
.add_student_form {
  width: 600px;
  position: relative;
  z-index: 110;
  background-color: #fff;
  border: 1px solid #f6f9fb;
  border-radius: 8px;
  margin: 100px auto;
  margin-bottom: 150px;
}
.student_form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
  //   width: auto;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px -5px rgb(88, 87, 87);
}
.student_form_container h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
  align-self: center;
}
.student_form_container label {
  align-self: flex-start;
  margin-top: 15px;
  font-size: 25px;
}
.student_data_field {
  // border: none;
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
}
.add_student_form_btn {
  background: #83b344;
  border-radius: 25px;
  color: white;
  font-size: 17px;
  font-weight: "bold";
  border: none;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 25px;
  margin: 10px 0;
  align-self: center;
}
.add_student_btn {
  background: #83b344;
  border-radius: 15px;
  color: white;
  font-size: 17px;
  font-weight: "bold";
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
