.ng-footer {
  width: 100%;
  position: sticky;
  background-color: #e7e4e4;
  color: white;
  height: 80px;

  // text-align: center
}

.footer {
  padding: 30px;

  > .footer-link {
    font-family: Rubik;
    font-style: normal;
    font-size: 20px;
    // margin-left: 18%;
    text-decoration: none;
    cursor: pointer;
    color: #191b26;
    font-weight: 400;
  }
}
