.ng-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #83b344;
  color: white;
  text-align: center;
}

.footer-link {
  font-family: Rubik;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
}
