// .footer {
//   padding: 30px 60px;
//   display: flex;
//   background-color: rgba(163, 163, 163, 0.2);
//   border-top: rgba(163, 163, 163, 0.4);
//   justify-content: flex-end;

//   > .footer-link {
//     font-family: Rubik;
//     font-style: normal;
//     text-decoration: none;
//     font-size: 14px;
//     cursor: pointer;
//     color: #191b26;
//     font-weight: 400;
//   }
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.meraki-footer {
  background: #e9f5e9;
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  // background-image: url("../../asset/logo.png");
  width: 186px;
  height: 48px;
  margin-block: 10px;
}

.footer-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-items-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.footer-items-column h3 {
  margin-bottom: 8px;
}

.footer-items-column span {
  margin-bottom: 5px;
  /* font-size: 14px; */
  display: flex;
  align-items: top;
  cursor: pointer;
}

.footer-playstore-icon {
  // background-image: url("../../asset/playstore-icon.png");
  height: 24px;
  width: 18.82px;
  margin-right: 10px;
}

.meraki-footer hr {
  margin-bottom: 10px;
}

.footer-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  flex-wrap: wrap;
}

.footer-row span {
  margin: 10px 200px;
}

.footer-social-media-icons {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}
.footer-social-icon {
  width: 32px;
  height: 32px;
}

// .footer-icon-facebook {
//   background-image: url("../../asset/facebook-icon.png");
// }
// .footer-icon-linkedin {
//   background-image: url("../../asset/linkedin-icon.png");
// }
// .footer-icon-twitter {
//   background-image: url("../../asset/twitter-icon.png");
// }

.footer-NG-info {
  justify-content: center;
  color: #818181;
}
@media screen and (max-width: 550px) {
  .meraki-footer {
    padding: 30px;
  }
  .footer-items,
  .footer-row {
    flex-direction: column;
  }
}
