.container-table {
  padding: 0 10%;
  margin: 40px auto 0;
}
.student-overview-table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px;
  border-collapse: collapse;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.student-overview-table thead tr th {
  box-shadow: 1px, 1px rgba(112, 111, 111, 0.16);
  letter-spacing: 0.35;
  color: #2e2e2e;
  opacity: 1;
  padding: 12px;
  font-size: 16px;
  font-style: normal;
  font-family: Rubik;
  text-align: start;
  vertical-align: top;
  border: 1px solid #dee2e685;
}

.sorter {
  background: transparent;
  border: none;
}

.student-name {
  width: 23% !important;
}

.turn {
  transform: scaleX(-1);
}

.t-data {
  text-decoration: none;
  color: #000;
  width: 20%;
}

td,
th {
  padding: 14px;
  border: 1px solid #dee2e685;
  font-family: Rubik;
  font-style: normal;
  font-size: 16px;
}

tr:hover {
  background-color: #fbfff5;
  cursor: pointer;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.Search-bar {
  border: 0;
  background-color: #a3a3a3;
  font-size: 16px;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #2e2e2e;
  height: 5px;
  width: 500px;
  margin-top: 13px;
  // width: 340px;
  background-image: url("../../../asset/search.svg");
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.slider-label {
  display: flex;
}

.slider {
  width: 1120px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.filter-clear:enabled {
  background: green;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border-color: #83b344;
  color: #83b344;
  font-size: 17px;
  font-weight: "bold";
  outline: #83b344;
  cursor: pointer;
  color: white;
}
.filter-clear:disabled {
  background: white;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  border-color: #83b344;
  color: #83b344;
  font-size: 17px;
  font-weight: "bold";
  outline: #83b344;
  cursor: pointer;
}

.Message {
  font-size: 20px;
}

.partner-name {
  font-style: normal;
  font-family: Rubik;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .student-overview-table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  .student-overview-table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .Search-bar {
    width: 270px;
  }

  .slider-label {
    margin-bottom: 20px;
  }

  .slider {
    // width: 100%;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */

    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: 500;
  }
}
