@import '../../../../sass/colors.scss';
@import '../../../../sass/mixins.scss';

.ng-exercise-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  .code-block {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px 8px;
  }

  code {
    color: #383a42;
    background: #ffffff;
    white-space: pre-line;
  }
  
  .image {
    width: 100%;
  }

  .youtube-video {
    @include breakpoint-mobile {
      width: 100%;
      height: 200px;
    }
  }
}
