@import "../../sass/colors.scss";
@import "../../sass/mixins.scss";

.ng-course-container {
  padding-top: 70px;
  width: 80%;
  margin: auto;
  width: 1234px;
  @include breakpoint-mobile {
    padding-top: 70px;
    width: 50%;
  }

  > h2 {
    margin: 0px;
    margin-bottom: 8px;
    margin-left: 32px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    @include breakpoint-mobile {
      margin-left: 0px;
    }
  }

  @include breakpoint-mobile {
    margin-top: 24px;
  }
}
