.ng-arrow {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: rotate(45deg);
  cursor: pointer;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: red;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }

  &:after {
    content: "";
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 0.8vmin 0 0;
    border-style: solid;
    border-color: red;
    transform-origin: 100% 0;
    transition: 0.2s ease;
  }

  &:hover::after {
    transform: rotate(45deg);
    border-color: red;
    height: 120%;
  }
  &:hover::before {
    border-color: red;
    transform: scale(0.8);
  }
}

.ng-left {
  transform: rotate(-135deg);
}
