.bio-name {
  font-family: "LusitanaBold";
  margin-bottom: 12px;
}

.bio-subtitle {
  color: #818181;
  margin-bottom: 12px;
}

.bio-image {
  width: 128px;
}

.bio-social-media-images {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.bio-social-media-image {
  margin-right: 8px;
}
