.messages {
  flex: 1;
  background-color: white;
  padding: 0 40px;
  display: flex;
  flex-direction: column-reverse;
  word-break: break-word;
  max-height: calc(100vh - 112px);
  overflow: auto;

  @media screen and (max-width: 768px) {
    max-height: calc(100vh - 104px);
    padding: 0 16px;
  }
}
