.chat-container {
  display: flex;
  height: calc(100vh - 112px);
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 768px) {
    max-width: 100vw;
    width: 100vw;
    height: calc(100vh - 104px);
  }
}

.rooms-navs-container {
  position: relative;
  z-index: 1;
  width: 20vw;
  min-width: 250px;
  max-width: 400px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  @media screen and (max-width: 768px) {
    max-width: 100vw;
    width: 100vw;
    height: calc(100vh - 104px);
  }
}

.room-chat {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: calc(100vh - 112px);
  overflow: auto;
  ::-webkit-scrollbar {
    display: none;
  }
  a:link {
    color: #48a145;
    background-color: transparent;
  }
  a:visited {
    color: #48a145;
    background-color: transparent;
  }
  @media screen and (max-width: 768px) {
    max-height: calc(100vh - 104px);
  }

  @media screen and (min-width: 768px) {
    border-left: 1px solid #ddd;
  }
}
