html,
body {
  min-height: 100%;
  color: #2E2E2E;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.pathway-enrolledClass-cards::-webkit-scrollbar {
  display: none;
}
