.ng-exercise {
  width: 300px;
  padding: 8px;
  background: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  // border: solid 1px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  align-self: center;


  >.logo {
    width: 34px;
    height: 34px;
    padding-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -20px;

    >.selected {
      fill: #f05f40
    }
  }


  >.title {
    width: 70%;
    margin-left: 8px;
  }
}

.ng-exercise-selected {
  width: 316px;
  color: #D55F31;
}
