.ng-introduce-container {
  padding: 0 10%;
  margin: 40px auto 0;
  font-family: Nunito Sans;
  font-style: normal;
}

.main-text {
  width: 100%;
  margin-top: 40px;
}
.main-heading {
  text-align: center;
}

.video-of-ng {
  text-align: center;

  //    width: 50px;
}
